* {
    box-sizing: border-box;
}

form>input {
    width: 70%;
    padding: 4px;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

form>button {
    width: 70%;
    padding: 2px;
}


#outer-div {
    padding: 1rem;
}

.floor-div {
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}

.up-down-btn {
    margin-bottom: 1rem;
}

.lift {
    height: 6.5rem;
    width: 5rem;
    background-color: brown;
    justify-self: center;
    margin-left: 1rem;
    position: relative;
}

.floor-div {
    position: relative;
}

.lift-div {
    display: flex;
    position: absolute;
    left: 100px;
    top: 10px;
}

@media screen and (max-width:376px) {

    .lift {
        width: 4rem;
        height: 6rem;
    }

    form {
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
    }

}

@media screen and (min-width:375px) {
    form>input {
        width: 14.5rem;
    }
    form>button {
        width: 14.5rem;
        padding: 2px;
    }
    
}
